/* FOOTER */
.flex-footer {
  padding: 5px;
  border-top: 1px solid black;
  text-align: center;
  display: inline-block;
}

h5 {
  font-size: 16pt;
  color: #ff6600;
}

.flex-footer img {
  padding: 3px;
}

/* FIRST ROW */

#spy {
  width: 80px;
  height: auto;
}
#braille {
  width: 120px;
  height: 34px;
  margin-bottom: -2px;
}
#dmack {
  width: 100px;
  height: 27px;
  margin-bottom: 1px;
}
#gopro {
  width: 100px;
  height: auto;
}

/* SECOND ROW */

.secondrow {
  
}

#piaa {
  width: 110px;
  height: auto;
/*  margin-bottom: 26px;
*/}
#subaru {
  width: 140px;
  height: auto;
/*  margin-bottom: 33px;
*/}
#fua {
  width: 150px;
  height: auto;
/*  margin-bottom: 19px;
*/}