/* Orange #ff6600, blue #0040ff */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  text-align: center;
}

.logo img {
  width: 280px;
  height: auto;
  margin-top: -65px;
  margin-bottom: -100px;
  float: left;
}

.flex-container {
  position: fixed;
  background-color: #E2E1E1;
  width: 100%;
  height: 80px;
}

.flex-info {
  display: inline-block;
  margin-top: 70px;
}

.flex-item {
  width: 650px;
  height: auto;
  border: 1px solid #E2E1E1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 25px;
  padding: 5px;
}

.flex-item {
  display: block;
  text-align: center;
}

h3 {
  font-size: 22pt;
  color: #ff6600;
  text-decoration: underline;
  margin-top: 10px;
}

.results, .schedule {
  color: #6B6A6A;
  margin-top: 10px;
  letter-spacing: .45px;
  line-height: 140%;
  text-align: left;
}

.results li {
  text-align: center;
  text-indent:2px;
  list-style: none;
  list-style-position: outside;
}

.schedule li {
  list-style-position: inside;
  list-style-type: none;
  text-align: center;
  padding: 4px;
}

.schedule a {
  color: #6B6A6A;
  text-decoration: none;
}
